{% extends "base.html" %}
{% block title %} Signup{% endblock title %}

{% block content %}



<form action="/auth/signup/" method ="post">  {% csrf_token %}
    <br> 

    {% comment %} this is kind of input box for the email where you can type you email  {% endcomment %}
    
    <label for ="email" >Email</label>
    <div class ="form-group">
    <input type="emial" class="form-control " id ="email" name ="email" required>
    </div> 

    <label for ="pass1">Password</label>
    <div class ="form-group">
    <input type="Password" class="form-control" id ="pass1" name ="pass1" required>
    </div>


    <label for ="pass2">Confirm Password </label>
    <div class ="form-group">
    <input type="Password" class="form-control" id ="pass2" name ="pass2"  required>
    </div>
    <br>

    <button style='color:white' type ="submit" class="btn btn-dark"> Signup </button>


    <br>

    Already User? <a href ="/arkauth/login"> Login</a>

</form>
{% endblock content  %}

